
img{
    width: 800px;
    height: 400px;
}

header#contact{
    padding: 100px;
    
    
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    
    
}
.container#partners {
    padding: 80px;
    

}
.container#singin{
    padding: 50px;
    
}
.container#sider {
    
    padding-top: 100px;
    padding-bottom: 100px;    
    
}
button{
    padding: 20px;
    align-self: center;

}
