.footer-section {
    margin-top: 100px;
    background-color: red;
}
#sticky-footer {
   position: fixed;
   margin-top: 50px;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
} 
